@import "node_modules/vui-alerts/error.scss";
@import "node_modules/vui-breadcrumbs/breadcrumbs.scss";
@import "node_modules/vui-button/button.scss";
@import "node_modules/vui-field/field.scss";
@import "node_modules/vui-grid-system/grid-system.scss";
@import "node_modules/vui-typography/headings.scss";
@import "node_modules/vui-icons/icons.scss";
@import "node_modules/vui-image-action/image-action.scss";
@import "node_modules/vui-input/input.scss";
@import "node_modules/vui-input/input-checkbox.scss";
@import "node_modules/vui-input/input-radio.scss";
@import "node_modules/vui-input/select.scss";
@import "node_modules/vui-input/textarea.scss";
@import "node_modules/vui-link/link.scss";
@import "node_modules/vui-list/list.scss";
@import "node_modules/vui-list/list-item.scss";
@import "node_modules/vui-offscreen/offscreen.scss";
@import "node_modules/vui-table/table.scss";
@import "node_modules/vui-typography/typography.scss";

/* global styles */
body {
	@include vui-typography();
}

a {
	@include vui-link();
}

/* actions and navigation */
.vui-breadcrumbs {
	@include vui-breadcrumbs();
}

.vui-button {
	@include vui-button();
}

.vui-button-primary {
	@include vui-button-primary();
}

.vui-link-main {
	@include vui-link-main();
}

.vui-image-action {
	@include vui-image-action();
}

.github-image-action > img {
	height: 18px;
	width: 18px;
}

.github-image-action > span {
	@include vui-link();
	font-size: .7rem;
}

.vui-image-action-list {
	@include vui-image-action-list();
}

/* Accessibility */
.vui-focus-on {
	@include vui-focus-outline();
}

.vui-offscreen {
	@include vui-offscreen();
}

/* Appearance */
.vui-small-text {
	@include vui-typography-small-text();
}

.vui-h1 {
	@include vui-typography-heading1();
	display:inline-block;
	padding-right: 1rem;
}

.vui-h2 {
	@include vui-typography-heading2();
	display:inline-block;
	padding-right: 1rem;
}

.vui-h3 {
	@include vui-typography-heading3();
	display:inline-block;
	padding-right: 1rem;
}

.vui-h4 {
	@include vui-typography-heading4();
	display:inline-block;
	padding-right: 1rem;
}

.vui-grid-system {
	height: 2rem;
	width: 100%;
	@include vui-gs-container();
}

.vui-icon-delete {
	@include vui-icon();
	@include vui-icon-action-delete();
}

.vui-icon-download {
	@include vui-icon();
	@include vui-icon-action-download();
}

.vui-icon-link {
	@include vui-icon();
	@include vui-icon-action-link();
}

.vui-icon-print {
	@include vui-icon();
	@include vui-icon-action-print();
}

.vui-icon-share {
	@include vui-icon();
	@include vui-icon-action-share();
}

.vui-icon-sliders {
	@include vui-icon();
	@include vui-icon-action-sliders();
}

.vui-icon-subscribe {
	@include vui-icon();
	@include vui-icon-action-subscribe();
}

.vui-icon-tag {
	@include vui-icon();
	@include vui-icon-action-tag();
}

.vui-icon-upload {
	@include vui-icon();
	@include vui-icon-action-upload();
}

.vui-colour {
	display: inline-block;
	height: 1rem;
	margin: .5rem;
	width: 1rem;
}

.vui-colour-carnelian {
	background-color: $vui-color-carnelian;
}

.vui-colour-celestine {
	background-color: $vui-color-celestine;
}

.vui-colour-azurite {
	background-color: $vui-color-azurite;
}

.vui-colour-celestuba {
	background-color: $vui-color-celestuba;
}

.vui-colour-cinnabar {
	background-color: $vui-color-cinnabar;
}

.vui-colour-citrine {
	background-color: $vui-color-citrine;
}

.vui-colour-olivine {
	background-color: $vui-color-olivine;
}

.vui-colour-zircon {
	background-color: $vui-color-zircon;
}

/* Data */
.vui-table {
	@include vui-table();
}

.vui-list {
	display: inline-block;
	vertical-align: middle;
	@include vui-list();
	margin: 0;
}

.vui-list-compact {
	@include vui-list-compact();
}

.vui-list-no-separator {
	@include vui-list-no-separator();
}

.vui-list-item-selected {
	@include vui-list-item-selected();
}

/* Errors */
.vui-error {
	@include vui-alerts-error();
}

/* Forms */
.vui-input-text {
	@include vui-input();
}

.vui-input-checkbox {
	@include vui-input-checkbox();
}

.vui-input-checkbox-label {
	@include vui-input-checkbox-label();
}

.vui-input-radio {
	@include vui-input-radio();
}

.vui-input-radio {
	@include vui-input-radio-label();
}

.vui-input-select {
	@include vui-input-select();
}

.vui-input-textarea {
	@include vui-input-textarea();
}

.vui-field-label {
	@include vui-field-label();
}

.vui-field-label-inline {
	@include vui-field-label($inline: true);
}

.vui-field-label-required {
	@include vui-field-label();
	@include vui-field-label-required();
}

.vui-field-row {
	@include vui-field-row();
}
