.component-groups {
	display:inline-block;
	width: 480px;
	@media screen and (max-width: 900px), screen and (max-height: 700px) {
		width: 600px;
	}
}

.component-group {
	margin-top: 1rem;
}

.component-group > .component-group-items {
	margin-bottom: 1.5rem;
}

.component-group-item-title {
	margin-top: 1rem;
}

.component-group-item-description {
	margin: 0 0 .5rem 0;
}

.component-group-item {
	border: 1px solid #d3d9e3;
	border-radius: 0.3rem 0.3rem 0 0;
}

.component-group-item > div {
	margin: 1.5rem;
}

.component-group-link {
	border: 1px solid;
	border-color: #f9fafb #d3d9e3 #d3d9e3 #d3d9e3;
	background-color: #f9fafb;
	border-radius: 0 0 .3rem .3rem;
}

.component-group-link > a {
	margin: .7rem 1.5rem .7rem 1.5rem;
}

.nav-group-items {
	list-style: none;
	font-size: .7rem;
	line-height: .7rem;
	margin-bottom: 0;
}

.nav-group-title {
	font-size: 1rem;
	list-style: none;
	line-height: .7rem;
}

.floating-menu-wrapper {
	margin-left: auto;
	position: absolute;
	@media screen and (max-width: 900px), screen and (max-height: 700px) {
		display: none;
	}
}

.floating-menu {
	background: #f9fafb;
	border: 1px solid #d3d9e3;
	border-radius: 0.3rem;
	padding: 1.5rem;
	position: fixed;
	margin-left: 552px;
	bottom: 52px;
	width: 220px;
}

