.page-content {
	padding: $spacing-unit 0;
}

.component-groups > .component-group-items {
	display: inline-block;
	margin-top: 1rem;
}

.component-group-item {
	margin-bottom: 1rem;
	width: 600px;
}

.component-group-item-title {
	font-size: 1.5rem;
	line-height: 2rem;
}
