{% extends "!layout.html" %}
{% set title = "Welcome" %}

<div class="topnav">
{%- block topnav %}
{%- block d2lrel1 %}{%- endblock %}
{%- block d2lrel2 %}<p>
<a class="uplink" href="{{ pathto('index') }}">{{ _('Home') }}</a>&#160;&#160;&#183;&#160;&#160;
<a class="uplink" href="{{ pathto('getting-started/gettingstarted') }}">Getting Started</a>&#160;&#160;&#183;&#160;&#160;
<a class="uplink" href="{{ pathto('valence-ui-components/index') }}">Components</a>&#160;&#160;&#183;&#160;&#160;
<a class="uplink" href="http://docs.valence.desire2learn.com/">{{ _('Valence Platform') }}</a></p>
{%- endblock %}{%- endblock %}
</div>

<div class="content">
{% block body %}
<h1>Welcome to Valence UI</h1>
<p>Valence UI (also known as "VUI") is a set of libraries that you can use to create and style UI components for your app so that you get the same look and behavior as native D2L applications.</p>

<h2>Where do I get VUI?</h2>
<p>The VUI components are available as <a href="https://www.npmjs.org/browse/keyword/vui">npm modules</a>, so you'll need <a href="http://nodejs.org/">Node.js</a> to install the components. To learn more, see <a href="{{ pathto('getting-started/gettingstarted') }}">Getting Started</a>.</p>
 
<h2>What's available in VUI?</h2>
To see what's available, visit <a href="{{ pathto('valence-ui-components/index') }}">Components</a>.

<h2>What's changed in VUI?</h2>
To see what's changed in any of the VUI components, view the <i>Releases</i> section in the component's Github repository (for example,  <a href="https://github.com/Brightspace/valence-ui-field/releases">valence-ui-field releases</a>). To see what's changed in the VUI documentation, see <a href="https://github.com/Brightspace/valence-ui-docs/releases"> Valence-UI-Docs releases</a>.

{% endblock %}
</div>
<div class="bottomnav">
{% block bottomnav %}{% endblock %}
</div>
